**/lwc/**/*.css
**/lwc/**/*.html
**/lwc/**/*.json
**/lwc/**/*.svg
**/lwc/**/*.xml
**/aura/**/*.auradoc
**/aura/**/*.cmp
**/aura/**/*.css
**/aura/**/*.design
**/aura/**/*.evt
**/aura/**/*.json
**/aura/**/*.svg
**/aura/**/*.tokens
**/aura/**/*.xml
**/aura/**/*.app
**.*meta.xml
**.*cls
**.*trigger
**.*png
**.*jpg
**.*svg
**.*asset
**.*md
.sfdx
**/node_modules/*.*
**/node_modules/*.js
release-definitions
doc
data
.sf
.vscode
.github
scripts
